.contact__us {
  display: flex;
  width: 100%;
  height: auto;
}
.from {
  height: 400px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-inline-end: 40px;
  padding-block: 40px;
}
.name {
  display: flex;
}
.name .name__input {
  width: 100%;
}

.number {
  display: flex;
}
.text__area {
  flex: 0 0 40%;
}
.check {
  display: flex;
}
.address__cards {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.address__card img{
  width: 40px;
  padding-block-end: 10px;
}