:root {
  --primary-font: "Inter";
  --color-white: #fff;
  --color-light: #fcfcfc;
  --color-dark: #18181b;
  --color-deep: #a3a3a4;
  --color-gray: #70707b;
}

/* Responsive Styles */

/* Small Devices (portrait tablets and large phones, 600px to 767px) */
@media only screen and (max-width: 767px) {
  p,
  a {
    font-size: 0.8rem;
  }
  .container {
    border-inline: 5px solid #fff;
    width: 100%;
    margin: auto;
  }
  /* navbar style  */
  .navbar {
    padding: 0px;
    padding-block-start: 20px;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
    /* height: 100vh; */
    transition: all 0.3s ease-in;
  }
  #nav__check:checked ~ .navbar,
  .navbar.active {
    background-color: #fff;
    padding-block-end: 30px;
  }

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
  }
  .navbar ul {
    display: none;
    transition: all 0.3s ease-in;
  }
  .navbar button {
    display: none;
    transition: all 0.3s ease-in;
  }
  #nav__check:checked ~ .navbar button,
  .navbar.active button {
    display: block;
  }
  #nav__check:checked ~ .navbar ul,
  .navbar.active ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .navbar ul li a {
    color: var(--color-dark);
  }
  .navbar .hamburger {
    display: block;
  }
  .navbar .hamburger img {
    cursor: pointer;
  }
  .navbar .logo .logo__dark {
    display: none;
  }
  #nav__check:checked ~ .dark.navbar .navbar .logo .logo__dark,
  .navbar.active .logo .logo__dark {
    display: block;
  }
  #nav__check:checked ~ .navbar .logo .logo__light,
  .navbar.active .logo .logo__light {
    display: none;
  }
  .navbar .logo .logo__light {
    display: block;
  }

  .logo .hamburger .open {
    display: block;
  }
  #nav__check:checked ~ .navbar .logo .hamburger .open,
  .navbar.active .logo .hamburger .open {
    display: none;
  }
  .navbar .logo .hamburger .close {
    display: none;
  }
  #nav__check:checked ~ .navbar .logo .hamburger .close,
  .navbar.active .logo .hamburger .close {
    display: block;
  }
  /* navbar dark  */
  #nav__check:checked ~ .navbar.dark .logo__light,
  .navbar.dark.active .logo__light {
    display: block;
  }
  #nav__check:checked ~ .navbar .logo__dark,
  .navbar.dark.active .logo__dark {
    display: block;
  }
  .banner {
    height: 70vh;
  }
  .banner__content .images {
    display: none;
  }
  .banner__content__title .banner__content__title__text p {
    font-size: 1.6rem;
  }
  .banner__content__title__img {
    border-radius: 30px;
    padding: 10px;
    margin-block-end: 91px;
  }

  /* discover style  */
  .discover__bottom .discover-card-container {
    display: flex;
    flex-direction: column;
  }
  .discover__bottom .discover-card-container .discover-card {
    height: auto;
    text-align: center;
    padding-block: 20px;
  }

  /* property-card-container  */
  .property-card__img {
    height: 300px;
  }
  .property-card__details {
    padding: 0px;
  }
  /* footer style  */
  footer {
    padding: 20px;
  }
  .footer__top .details .title h1 {
    max-width: 600px;
  }
  .footer__top .details .address__card {
    gap: 10px;
    padding-block-start: 10px;
  }
  .footer__top {
    gap: 0px;
    flex-direction: column;
  }
  .footer__bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .footer__bottom .logo {
    display: flex;
    justify-content: center;
  }
  .navigate:last-child .links .links__box {
    display: flex;
    flex-direction: row;
  }
  /* faq style  */
  .faq {
    flex-direction: column;
    padding-block-end: 0px;
  }
  .faq__describe,
  .questions {
    width: 100%;
  }
  .faq__describe img {
    display: none;
  }
  .faq__describe h1 {
    width: 100%;
  }
  .question {
    padding-inline-start: 0px;
  }
  /* tips style  */
  .tips__blog {
    padding-block-start: 0px;
  }
  .tips__title h1:first-child {
    display: none;
  }
  .tips__title h1:nth-last-child(2) {
    padding-block-end: 20px;
    display: block;
  }
  .tips__title {
    flex-direction: column;
    padding-inline-start: 10px;
  }
  .tips-card-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .tips-card-container .tips-card:last-child {
    display: none;
  }
  .tips-card {
    flex-direction: row;
  }
  .tips-card__detail {
    padding-block: 10px;
  }
  .tips-card .tips-card-img {
    width: 120px;
    padding: 5px;
    border-radius: 12px;
  }
  .tips-card__detail p.bolder {
    line-height: 1.4rem;
    padding-block: 10px;
  }
  .clock {
    display: flex;
  }
  .time .clock {
    display: none;
  }
  /* pagination style  */
  .arrow-1 {
    display: flex;
  }
  .arrow-1 .right {
    display: none;
  }
  .arrow-2 .left {
    display: none;
  }
  /* contact style  */
  .contact {
    flex-direction: column;
    padding-block-start: 40px;
  }
  .contact__from {
    width: calc(100% - 40px);
    margin-block: 40px;
  }
  /* about section  */
  /* states  */
  .states {
    grid-template-columns: 1fr;
  }
  /* contact style  */
  .contact__details .news_latter {
    width: 100%;
  }
  /* faq  */
  .category__list {
    display: none;
  }
  .faq.col {
    padding: 5px;
  }
  .faq.col .text-center {
    text-align: left;
    width: 100%;
  }
  /* contact section  */
  .contact__us {
    flex-direction: column;
  }
  .from {
    height: 400px;
    width: 100%;
  }
  .name__input {
    margin: 20px 0px;
  }
}

/* Medium Devices (landscape tablets, 768px to 991px) */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    border-inline: 20px solid #fff;
    margin: auto;
  }
  .banner__content .images {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--color-deep);
    border-radius: 20px;
    padding: 8px;
    gap: 15px;
    margin: 55px;
  }
  .banner__content .images .image {
    width: 154px;
    height: 110px;
  }
  .banner__content__title .banner__content__title__text p {
    font-size: 3rem;
  }

  .banner__content__title {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }

  .banner__content__title__img {
    border-radius: 60px;
    padding: 15px;
    margin-block-end: 90px;
  }
  /* discover section style  */
  .discover__top {
    flex-direction: column;
  }
  .discover__top .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .discover__top .title h1 {
    width: 70%;
  }
  .discover__top .text {
    width: 100%;
  }

  /* faq style */
  .faq {
    flex-direction: column;
  }
  .faq__describe h1 {
    width: 100%;
  }
  .faq__describe,
  .questions {
    width: 100%;
  }

  /* tips style  */
  .tips__blog {
    padding: 40px;
  }

  .tips__title {
    padding-block-end: 40px;
  }
  .tips__title {
    display: flex;
    justify-content: space-between;
  }
  .tips__title h1 {
    width: 100%;
  }
  .tips-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .tips-card-container .tips-card:last-child {
    display: none;
  }
  /* footer style  */
  .footer__top {
    justify-content: space-between;
  }
  .navigate:last-child {
    margin-inline-end: 200px;
  }
  footer {
    padding: 20px;
  }
}
