:root {
  --primary-font: "Inter";
  --color-white: #fff;
  --color-light: #fcfcfc;
  --color-dark: #18181b;
  --color-deep: #a3a3a4;
  --color-gray: #70707b;
}
/* Responsive Styles */

/* Extra Small Devices (phones, 375px and down) */
@media only screen and (max-width: 375px) {
  .container {
    border-inline: 0px solid #fff;
    width: 100%;
    margin: auto;
  }
  .navbar {
    padding: 0px;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
  }
  .navbar.active{
    background-color: #fff;

  }
  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
  }
  .navbar ul{
    display: none;
  }
  .navbar button{
    display: none;
  }
  .navbar.active button{
    display: block;
  }
  .navbar.active ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .navbar ul li a{
    color: var(--color-dark);
  }
  .navbar button {
    background-color: var(--color-dark);
    color: var(--color-white);
}
.navbar .hamburger {
  display: block;
}

.navbar .logo .logo__dark {
display: none;
}
.navbar.active .logo .logo__dark {
display: block;
}
.navbar.active .logo .logo__light {
  display: none;
}
.navbar .logo .logo__light {
  display: block;
}
.navbar .logo .hamburger .open {
  display: block;
}
.navbar.active .logo .hamburger .open {
  display: none;
}
.navbar .logo .hamburger .close {
  display: none;
}
.navbar.active .logo .hamburger .close {
  display: block;
}
}
/* Medium Devices (500px to 1024px) */
@media only screen and (min-width: 500px) and (max-width: 1024px) {
  .container {
    border-inline: 48px solid #fff;
    max-width: 1024px;
    margin: auto;
  }
}
