:root {
  --primary-font: "Inter";
  --color-white: #fff;
  --color-light: #fcfcfc;
  --color-dark: #18181b;
  --color-deep: #a3a3a4;
  --color-gray: #70707b;
}

/* Responsive Styles */



/* Small Devices (portrait tablets and large phones, 600px to 767px) */
@media only screen  and (max-width: 767px) {
  p,a{
    font-size: 0.8rem;
  }
  .container {
    border-inline: 0px solid #fff;
    width: 100%;
    margin: auto;
  }
  .navbar {
    padding: 0px;
    padding-block-start: 20px;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    transition: all 0.3s ease-in;
  }
  .navbar.active {
    background-color: #fff;
    padding-block-end: 30px;
  }
  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
  }
  .navbar ul {
    display: none;
    transition: all 0.3s ease-in;

  }
  .navbar button {
    display: none;
    transition: all 0.3s ease-in;

  }
  .navbar.active button {
    display: block;
  }
  .navbar.active ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .navbar ul li a {
    color: var(--color-dark);
  }

  .navbar .hamburger {
    display: block;
  }

  .navbar .logo .logo__dark {
    display: none;
  }
  .navbar.active .logo .logo__dark {
    display: block;
  }
  .navbar.active .logo .logo__light {
    display: none;
  }
  .navbar .logo .logo__light {
    display: block;
  }
  .navbar .logo .hamburger .open {
    display: block;
  }
  .navbar.active .logo .hamburger .open {
    display: none;
  }
  .navbar .logo .hamburger .close {
    display: none;
  }
  .navbar.active .logo .hamburger .close {
    display: block;
  }
  .banner {
    height: 80vh;
  }
  .banner__content .images {
    display: none;
  }
  .banner__content__title .banner__content__title__text p {
    font-size: 1.6rem;
  }
  .banner__content__title__img {
    border-radius: 30px;
    padding: 10px;
    margin-block-end: 91px;
  }

  /* discover style  */
  .discover__bottom .discover-card-container{
    display: flex;
    flex-direction: column;
  }
  .discover__bottom .discover-card-container .discover-card{
    height: auto;
    text-align: center;
    padding-block: 20px;
  }

  /* property-card-container  */
  .property-card__img {
    height: 300px;}
    .property-card__details {
      padding: 0px;
    }
   /* footer style  */
  footer {
    padding: 20px;
  }
  .footer__top .details .title h1 {
    max-width: 600px;
  }
  .footer__top .details .address__card {
    gap: 10px;
    padding-block-start: 10px;
  }
  .footer__top {
    gap: 0px;
  }
  .footer__bottom{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .footer__bottom .logo{
    display: flex;
    justify-content: center;
  }
}

/* Medium Devices (landscape tablets, 768px to 991px) */
@media only screen and (min-width: 768px)  and (max-width: 1199px) {
  .container {
    border-inline: 20px solid #fff;
    margin: auto;
  }
  .banner__content .images {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--color-deep);
    border-radius: 20px;
    padding: 8px;
    gap: 15px;
    margin: 55px;
  }
  .banner__content .images .image {
    width: 154px;
    height: 110px;
  }
  .banner__content__title .banner__content__title__text p {
    font-size: 3rem;
  }

  .banner__content__title {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }

  .banner__content__title__img {
    border-radius: 60px;
    padding: 15px;
    margin-block-end: 90px;
  }
  /* discover section style  */
.discover__top {
  flex-direction: column;
}
.discover__top .title{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.discover__top .title h1{
  width: 70%;
}
.discover__top .text{
  width: 100%;

}


  /* footer style  */
  .footer__top{
    justify-content: space-between;
  }
  .navigate:last-child{
    margin-inline-end: 200px;
  }
  footer {
    padding: 20px;
  }

  
}

