/* this css apply for large device  */
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  --primary-font: "Inter";
  --color-white: #fff;
  --color-light: #fcfcfc;
  --color-dark: #18181b;
  --color-deep: #a3a3a4;
  --color-gray: #70707b;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  font-family: var(--primary-font);
  list-style: none;
  color: var(--color-dark);
}
.container {
  border-inline: 80px solid #fff;
  max-width: 1440px;
  margin: auto;
}
/* typography */
h1 {
  font-size: 2rem;
  font-weight: 400;
}
h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
p {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--color-deep);
}
p.light {
  color: var(--color-light);
}
p.bold {
  color: var(--color-gray);
  font-weight: 600;
}
p.bold:hover {
  color: var(--color-dark);
}
p.bolder {
  font-size: 1.1rem;
  line-height: 2rem;
  color: var(--color-dark);
  font-weight: 600;
}
a {
  font-weight: 400;
  color: var(--color-white);
  padding: 4px 12px;
}
a:hover,
a.active {
  color: var(--color-deep);
}
.btn {
  padding: 10px 18px;
  font-weight: 700;
  color: var(--color-dark);
  background-color: var(--color-light);
  border: 1px solid var(--color-dark);
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: var(--color-dark);
  color: var(--color-white);
}
.icon {
  display: flex;
  align-items: center;
  gap: 5px;
}
/* navbar style start  */
.navbar {
  padding: 25px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 108px;
  height: 32px;
}
.logo__dark {
  display: none;
}
.navbar ul {
  display: flex;
}

.navbar .hamburger {
  display: none;
}

/* footer style  */
/* padding margin gap  */
footer {
  padding: 80px;
  padding-bottom: 0px;
}
.footer__top .details .title h1 {
  max-width: 600px;
}
.footer__top .details .address__card {
  gap: 20px;
  padding-block-start: 20px;
}
.footer__top {
  gap: 10px;
}
.footer__top .details .address__card .card p {
  padding-block: 10px;
}

.footer__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-block-end: 50px;
  border-bottom: 3px solid var(--color-deep);
}
footer {
  background-color: var(--color-dark);
}
.footer__top .details {
  margin-right: auto;
}
.footer__top .details .title h1 {
  color: var(--color-light);
}
.footer__top .details .address__card {
  display: flex;
  flex-wrap: wrap;
}

.footer__top .navigate .links {
  display: flex;
}
.footer__top .navigate,
.footer__top .navigate .links .links__box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer__top .navigate p.deep {
  padding: 12px;
  padding-left: 0px;
}
.footer__top .navigate a {
  padding-left: 0px;
}
.footer__bottom * {
  background-color: var(--color-dark);
}
.footer__bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 10px;
  padding-block: 20px;
}
.footer__bottom .top button a {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* banner content style  */
.banner {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 924px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.banner__content .images {
  display: flex;
  flex-direction: column;
  border: 3px solid var(--color-deep);
  border-radius: 20px;
  padding: 8px;
  gap: 15px;
  margin: 55px;
}
.banner__content .images .image {
  width: 196px;
  height: 140px;
  cursor: pointer;
}
.banner__content__title .banner__content__title__text p {
  font-size: 4.5rem;
  color: var(--color-white);
  display: inline-block;
  font-weight: 300;
}
.banner__content__title .banner__content__title__text p span {
  color: var(--color-white);
  font-weight: 600;
}
.banner__content__title {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.banner__content__title .banner__content__title__text {
  display: grid;
  padding-block-end: 100px;
  padding-inline-start: 40px;
}
.banner__content__title__img {
  display: inline;
  border: 2px solid var(--color-gray);
  border-radius: 60px;
  padding: 15px;
  margin-block-end: 120px;
  cursor: pointer;
}

/* discover section  */
.discover {
  padding: 40px;
  padding-block-end: 0px;
}
.discover__top .title {
  width: 380px;
  padding-block-end: 40px;
}
.discover__top .title h1 {
  padding-block-end: 30px;
}
.discover__top .text p {
  padding-block-end: 20px;
}
.discover .discover__top {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.discover__top .text {
  width: 600px;
}
.discover__bottom .discover-card-container {
  display: grid;
  column-gap: 20px;
  overflow: hidden;
  grid-template-columns: 1fr 1.1fr 1.5fr;
}

.discover-card-container .discover-card {
  height: 500px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.discover-card-container .discover-card:nth-child(2) {
  justify-content: flex-end;
}
.discover-card-container .discover-card img {
  display: inline;
  width: 100%;
}

/* property section  */
.property {
  padding: 20px;
  padding-block-start: 40px;
}
.property .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.property .title h1 {
  padding-block-end: 20px;
}
.property button {
  margin: auto;
  display: block;
}
.property .title p {
  width: 600px;
}
.property-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  width: 100%;
  padding-block: 20px;
}
.property-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.property-card__img .tag p {
  padding: 8px 12px;
  gap: 8px;
  border-radius: 22px;
  display: flex;
  background-color: var(--color-dark);
  justify-content: center;
  align-items: center;
}
.property-card__img .tag {
  gap: 10px;
  display: flex;
  position: absolute;
  right: 26px;
  top: 10px;
}
.property-card__img {
  height: 300px;
  width: 100%;
  position: relative;
  margin: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
.property-card__details {
  padding-block-start: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.property-card__features {
  display: flex;
  justify-content: space-between;
  border-block-start: 2px solid var(--color-gray);
  margin-block-start: 15px;
  padding-block: 10px;
}
.property-card__details,
.property-card__features {
  /* height: 0;
  opacity: 0;
  display: none; */
  transition: all 0.3s ease-in-out;
}
.property-card:hover .property-card__details,
.property-card:hover .property-card__features {
  height: auto;
  opacity: 1;
  display: flex;
}

/* FAQ style  */
.faq {
  padding: 40px;
  display: flex;
  justify-content: space-between;
}
.faq__describe {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
}
.faq__describe h1 {
  width: 400px;
}
.questions {
  width: 500px;
}
.question {
  padding: 16px;
}

.question.active .question-title .collapse .minus {
  display: none;
}
.question .question-title .collapse .add {
  display: none;
}
.question.active .question-title .collapse .add {
  display: block;
}
.question .text {
  display: none;
}
.question.active .text {
  display: block;
  padding-block: 16px;
}
.question .question-title:hover p.bold {
  color: var(--color-dark);
}
.question .question-title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

/* tips style  */
.tips__blog {
  padding: 40px;
}
.tips-card-container {
  column-gap: 40px;
}
.tips__title {
  padding-block-end: 40px;
}
.tips__title {
  display: flex;
  justify-content: space-between;
}
.tips__title h1 {
  width: 100%;
}
.tips__title h1:nth-last-child(2){
display: none;}
.tips-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.tips-card {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.tips-card .tips-card-img {
  width: 100%;
}
.tips-card .time {
  display: flex;
  align-items: center;
  gap: 5px;
}
.clock{
  display: none;
}
.time .clock{
  display: flex;
}
